body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar {
  background-color: #ff0000;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff3e0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar {
  background-color: #ff0000;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
}

.avatar {
  border-radius: 50%;
  margin: 20px 0;
  height: 20% ;
  width: 20% ;
}

.footer {
  background-color: #ff0000;
  color: white;
  padding: 10px 10px;
  margin-top: 30px;
}
