body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

p{
  text-align: justify;
}

.navbar {
  background-color: #ff0000;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.article-title {
  color: #333;
}

.footer {
  background-color: #ff0000;
  color: white;
  padding: 10px 10px;
  margin-top: 30px;
}

img {
  width: 100%;
  height: 100%;
  margin: 10px 10px;
}




